.header {
    border-bottom: 1px solid #ddd;
}

.header .hd_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1440px;
    margin: 0 auto;

    height: 120px;
}

.header .hd_wrap h1 img {
    width: 192px;
    height: 50px;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;

    font-weight: 700;
}

.header .utils {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 24px;
}

.header .utils .g {
    width: 88px;
    height: 32px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;

    text-align: center;
}


.header .mbtn {
    display: none;
}



@media (max-width: 768px) {
    .header {
        border-bottom: 1px solid #ddd;
    }

    .header .hd_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: 1440px;
        margin: 0 auto;

        height: 120px;

        /* r */
        margin: 0 16px;
    }

    .header .hd_wrap h1 img {
        width: 192px;
        height: 50px;
    }

    .header .gnb {
        /* r */
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;

        width: calc(100% - 80px);
        height: 100vh;

        background: #fff;
        border-right: 1px solid #ddd;

        padding: 120px 24px 0 24px;

        transition: left 0.4s;
    }

    .header .gnb.on {
        left: 0;
    }


    .header .gnb>ul {
        display: flex;
        gap: 40px;

        font-weight: 700;

        /* r */
        flex-direction: column;
        gap: 30px;
    }

    .header .utils {
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 24px;
    }

    .header .utils .g {
        width: 88px;
        height: 32px;
        background: #000;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;

        text-align: center;

    }

    .header .mbtn {
        display: none;
        /* r */

        display: block;
    }
}


.subpage {}

.subpage .title {
    text-align: center;
    margin-bottom: 40px;
}


.subpage .title h2 {
    display: block;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;

}

@media (max-width: 768px) {
    .subpage {}

    .subpage .title {
        text-align: center;
        margin-bottom: 40px;
    }


    .subpage .title h2 {
        display: block;
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;

        /* r */
        font-size: 8vw;

    }

}

.subpage .trend {
    display: flex;
    gap: 30px;

    border-bottom: 1px solid #ddd;
    padding-bottom: 80px;
}

.subpage .trend .left {
    position: relative;
}

.subpage .trend .left img {
    width: 100%;
}

.subpage .trend .left p {
    position: absolute;

    bottom: 24px;
    left: 24px;

    width: 100%;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}

.subpage .trend .right {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 64px 30px;
}

.subpage .trend .right p {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 16px;
}

.subpage .trend .right .author {
    display: flex;
    gap: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    margin-top: 8px;

}

@media (max-width: 768px) {
    .subpage .trend {
        display: flex;
        gap: 30px;

        border-bottom: 1px solid #ddd;
        padding-bottom: 80px;

        /* r */
        flex-direction: column;
    }

    .subpage .trend .left {
        position: relative;
    }

    .subpage .trend .left img {
        width: 100%;
    }

    .subpage .trend .left p {
        position: absolute;

        bottom: 24px;
        left: 24px;

        width: 100%;
        font-size: 32px;
        font-weight: 500;
        color: #fff;

        /* r */
        font-size: 6vw;
    }

    .subpage .trend .right {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 64px 30px;
    }

    .subpage .trend .right p {
        font-size: 20px;
        font-weight: 600;
        line-height: 40px;
        margin-top: 16px;

        /* r */
        font-size: 4vw;
    }

    .subpage .trend .right .author {
        display: flex;
        gap: 30px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;

        margin-top: 8px;

    }
}

.subpage .fashion_itm {
    padding-top: 80px;
}

.subpage .fashion_itm strong {
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;

}

.subpage .fashion_itm .itm_box {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 80px 30px;

    margin-bottom: 40px;
}

.subpage .fashion_itm .itm_box p {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 16px;

    word-break: keep-all;
}

.subpage .fashion_itm .itm_box .author {
    display: flex;
    gap: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    margin-top: 8px;

}


@media (max-width: 768px) {
    .subpage .fashion_itm {
        padding-top: 80px;
    }

    .subpage .fashion_itm strong {
        display: block;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 40px;

    }

    .subpage .fashion_itm .itm_box {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 80px 30px;

        margin-bottom: 40px;

        /* r */

        grid-template-columns: repeat(2, 2fr);
    }

    .subpage .fashion_itm .itm_box p {
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        margin-top: 16px;

        word-break: keep-all;

        /* r */
        font-size: 4vw;
    }

    .subpage .fashion_itm .itm_box .author {
        display: flex;
        gap: 30px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        margin-top: 8px;

    }


}


.subpage .latest_story {
    border-top: 1px solid #ddd;
}

.subpage .latest_story strong {
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}



.footer {
    padding: 80px;
    background: #000;
}

.footer .info {
    position: relative;
    display: block;
    align-items: center;
    justify-items: center;

    color: #fff;
}

.footer .info img {
    margin-bottom: 24px;
}

.footer .info .lnk {
    display: flex;
    gap: 30px;
    margin-bottom: 16px;
}

.footer .info .lnk a {
    font-size: 14px;
}

.footer .info .lnk li {
    position: relative;

}

.footer .info .lnk li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;

    width: 1px;
    height: 0.5em;

    background: rgb(221, 221, 221, 0.25);

    transform: translate(0, -50%);
}

.footer address {
    padding: 16px 0;
    font-size: 12px;
    line-height: 16px;
}


@media (max-width: 768px) {
    .footer {
        padding: 80px;
        background: #000;
    }

    .footer .info {
        position: relative;
        display: block;
        align-items: center;
        justify-items: center;

        color: #fff;
    }

    .footer .info img {
        margin-bottom: 24px;
    }

    .footer .info .lnk {
        display: flex;
        gap: 30px;
        margin-bottom: 16px;

        /* r */
        flex-direction: column;
        gap: 8px;
        text-align: center;

    }

    .footer .info .lnk a {
        font-size: 14px;

        /* r */
        font-size: 3vw;


    }

    .footer .info .lnk li {
        position: relative;

    }

    .footer .info .lnk li~li::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;

        width: 1px;
        height: 0.5em;

        background: rgb(221, 221, 221, 0.25);

        transform: translate(0, -50%);

        /* r */
        display: none;
    }

    .footer address {
        padding: 16px 0;
        font-size: 12px;
        line-height: 16px;

        /* r */
        text-align: center;
        font-size: 3vw;
    }
}